<div class="card mt-5">
  <div class="card-header">
    Libros en Google via Servicio Propio
  </div>
  <div class="card-body">
    <div class="form-group">
      <label for="clave">Clave</label>
      <input type="text" class="form-control" name="clave" id="clave" 
      [(ngModel)]="clave">
    </div>
    <button type="button" class="btn btn-primary"
    (click)="buscar()">Buscar</button>
  </div>
  <div class="card-footer text-muted">
    <p>Resuldados</p>
    <ul class="list-group">
      <li *ngFor="let libro of aLibros"
      class="list-group-item">{{libro}}</li>
    </ul>
  </div>
</div>
