<div class="container">
  <nav class="row">
    <div class="col">
      <ul class="nav nav-pills">
          <li class="nav-item nav-link">
              <a class="nav-link" routerLink="inicio"
              routerLinkActive="active">Inicio</a>
          </li>
          <li class="nav-item nav-link">
              <a class="nav-link" routerLink="tareas"
              routerLinkActive="active">Tareas</a>
          </li>
          <li class="nav-item nav-link">
              <a class="nav-link" routerLink="formularios"
              routerLinkActive="active">Formularios</a>
          </li>
          <li class="nav-item nav-link">
              <a class="nav-link" routerLink="libros"
              routerLinkActive="active">Libros</a>
          </li>
        <!--
          <li class="nav-item nav-link">
              <a class="nav-link" routerLink=""">Acerca de</a>
          </li> -->
      </ul>
    </div>    
  </nav>
</div>
