<div class="container main">
  <div class="row">
    <div class="col-12">
      <h4>Tareas</h4>
    </div>
    <div class="form-group col-12">
      <label for="">Nueva tarea</label>
      <input type="text" class="form-control" name="" id="" [(ngModel)] = "tarea">
    </div>
    <button type="button" name="" id="" class="btn btn-primary btn-lg btn-block"
      (click)="addTarea()">
      Añadir
    </button>
  </div>
  <div *ngIf="aTareas.length; else vacioTemplate"> 
    <h4>Tareas</h4>
      <ul class="list-group">
        <li class="list-group-item"
        *ngFor="let tarea of aTareas">{{ tarea }}</li>
      </ul>
  </div>
  
  <ng-template #vacioTemplate>
    <p>Animate a escribir una tarea</p>
  </ng-template>



  

</div>