<div class="card">
  <div class="card-header">
    <h4 class="card-title">Referencias Locales</h4> 
  </div>
  <div class="card-body">
    <div class="form-group">
      <label for="nombre">Nonbre</label>
      <input type="text" class="form-control" name="nombre" id="nombre" #usuario>
    </div>
    <button type="button" class="btn btn-primary"
    (click)=" usuario.value = usuario.value" >Salvar</button>
    <button type="button" class="btn btn-primary"
      (click)=" usuario.value = ''" >Borrar</button>
  </div>
  <div class="card-footer text-muted">
    <p>Hola {{ usuario.value }}</p>
  </div>
</div>